@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* Use justify-content center for equal spacing */
  padding: 4rem 2rem; /* Adjust padding for better spacing */
  gap: 2rem; /* Space between text and image */
}

.content {
  flex: 1;
  max-width: 600px; /* Maximum width for text content */
}

.title {
  font-size: 4rem; /* Responsive font size */
  color: var(--color-secondary); 
  margin-bottom: 1rem;
}

.description {
  font-size: 1.5rem; /* Responsive font size */
  color: var(--color-bg); 
  margin-bottom: 2rem;
}

.contactBtn {
  background-color: var(--color-secondary);
  color: var(--color-dark);
  border-radius: 50px;
  font-size: 1.5rem; /* Responsive font size */
  padding: 1rem 2rem; /* Padding adjusted */
  transition: background-color 0.3s ease;
}

.contactBtn:hover {
  background-color: var(--color-primary);
  color: var(--color-bg);
}

.heroImg {
  flex: 1;
  width: 50%;
  max-width: 350px; /* Maximum width for image */
  height: auto;
  border-radius: 50%;
  animation: floating 3s ease-in-out infinite;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .container {
    flex-direction: column; /* Stack elements on smaller screens */
    text-align: center; /* Center text for mobile */
  }

  .heroImg {
    width: 80%;
    max-width: 300px; /* Adjust maximum width for smaller screens */
    order: -1; /* Ensure the image is on top on smaller screens */
  }

  .title {
    font-size: 3rem;
  }

  .description {
    font-size: 1.25rem;
  }

  .contactBtn {
    font-size: 1.25rem;
  }
}

@keyframes floating {
  0%, 100% { transform: translateY(-10px); }
  50% { transform: translateY(10px); }
}
