@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 2rem;
  margin-top: 3rem;
  min-height: 100vh; /* Fill the screen's height */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  text-align: center;
}

.title {
  font-size: 2.5rem; /* Title size */
  font-weight: 800; /* Font weight for the title */
  margin-bottom: 2rem; /* Margin for spacing */
  text-align: center; /* Centered title text */
  color: var(
    --color-secondary
  ); /* Bright blue for the title for a pop of color */
}


.pheader h2 {
  font-size: 1rem; /* Font size for paragraphs */
  font-weight: 600;
  line-height: 1; /* Line height for readability */
  color: var(--color-bg); /* Deep indigo for paragraph text */
}

.aboutItems {
  max-width: 900px; /* Max width for content */
  width: 100%; /* Full width */
  padding: 2rem; /* Padding for the list */
  list-style: none; /* Remove list styles */
  border-radius: 10px; /* Rounded corners for the list */
}

.aboutItem {
  border-radius: 1rem; /* Rounded corners for items */
  margin-bottom: 2rem; /* Margin for spacing between items */
  padding: 2rem; /* Padding inside items */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  transition: box-shadow 0.3s ease; /* Transition for the shadow effect */
  color: var(--color-bg);
}

.aboutItem:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Larger shadow on hover for a lift effect */
  transform: translateY(-4px); /* Move up slightly on hover */
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transition for the shadow and lift effect */
  background-color: var(--color-primary);
}

.aboutItem h3 {
  font-size: 1.5rem; /* Font size for paragraphs */
  font-weight: 600;
  line-height: 1; /* Line height for readability */
  color: var(--color-bg); /* Deep indigo for paragraph text */
  padding-bottom: 20px;
}

.aboutItem p {
  font-size: 1rem; /* Font size for paragraphs */
  line-height: 1; /* Line height for readability */
  color: var(--color-bg); /* Deep indigo for paragraph text */
}

@media screen and (max-width: 830px) {
  .title {
    font-size: 2rem; /* Smaller font size for the title on mobile */
  }

  .aboutItem h3 {
    font-size: 2rem; /* Smaller font size for headings on mobile */
  }

  @media screen and (max-width: 560px) {

    .aboutItem h3 {
      font-size: 2rem; /* Smaller font size for headings on mobile */
    }
  }
}
